@model IEnumerable<EscuelaComputacion.Models.Courses>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<section class="intro">
    <div class="bg-image h-100" style="background-color: #f5f7fa;">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                                    <table class="table table-striped mb-0">
                                        <thead style="background-color: #002d72;">
                                            <tr>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Horario</th>
                                                <th scope="col">Profesor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Schedule)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ProfessorName)
                                                    </td>
                                                    <td>
                                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>